@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    body {
        background: black;
        user-select: none;
        overflow: hidden;
    }
    button {
        @apply p-3 bg-gray-600
    }
    h1 {
        @apply text-4xl xl:text-6xl font-bold;
    }
    h2 {
        @apply text-2xl xl:text-4xl font-bold;
    }
    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }


    /* Scrollbar */

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }
    
        /* Track */
        ::-webkit-scrollbar-track {
        background: black; 
        }
    
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #555; 
        }
        
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #888; 
        }
}

@layer components {
    .song-container {
        @apply grid 
        grid-cols-[48px_1fr]
        md:grid-cols-[48px_1fr_48px] 
        lg:grid-cols-[48px_1fr_1fr_48px]
        justify-items-start items-center 
        py-4 px-8 pr-12 mx-6 rounded-md gap-2
    }
    .song-container > :not(:nth-child(1), :nth-child(2), :last-child) {
        @apply hidden
    }
    .song-container > :nth-child(4) {
        @apply md:block
    }
    .song-container > :nth-child(3) {
        @apply lg:block
    }

    .player-btn-container > * {
        @apply hover:text-white relative cursor-pointer
    }
    .player-btn-container > div[data-title]:hover::before {
        @apply absolute -top-2 -translate-y-full
        content-[attr(data-title)] 
        w-max p-2 bg-black text-white rounded-md
    }
    .player-btn-container > div[data-title]::before {
        content: "";
        visibility: hidden;
    }
    .player-btn-container > div[data-title]:hover::before {
        visibility: visible;
        transition-delay: 500ms
    }

    .label-wrapper {
        @apply flex items-center
        before:border-b before:w-full before:border-primary
        after:border-b after:w-full after:border-primary
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .text-secondary { @apply text-gray-400 }
    .text-active { @apply text-green-600 hover:text-green-500 }
    .bg-active { @apply bg-green-600 } 
    .border-primary { @apply border-gray-700 } 
    .background { @apply bg-neutral-900 }

    .center {
        @apply relative overflow-y-scroll background break-all text-white md:block
    }
    .MuiPaper-root {
    font-size: 500px;
    background: "black";
}
.MuiMenu-paper {
    font-size: 500px;
    background: "black";
}
}

.transisition-container { position: relative; }
.target.active { visibility: hidden; }
.target~* {
    position: relative;
    left: 0;
    transition: left 500ms;
}

.MuiPaper-root {
    font-size: 500px;
    background: "black";
}
.MuiMenu-paper {
    font-size: 500px;
    background: "black";
}