@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --menu-color: theme("colors.neutral.800");
        --text-secondary: theme("colors.gray.400");
    }
    body {
        background: black;
        user-select: none;
        overflow: hidden;
    }
    h1 {
        @apply text-4xl font-bold xl:text-6xl;
    }
    h2 {
        @apply text-2xl font-bold xl:text-4xl;
    }
    p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    /* Scrollbar */

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: black;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #555;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
}

@layer components {
    .song-container {
        @apply mx-6 
        grid
        grid-cols-[48px_1fr] 
        items-center
        justify-items-start gap-2 
        rounded-md py-4 px-8 pr-12 md:grid-cols-[48px_1fr_48px] lg:grid-cols-[48px_1fr_1fr_48px];
    }
    .song-container > :not(:nth-child(1), :nth-child(2)) {
        @apply hidden;
    }
    .song-container > :nth-child(4) {
        @apply md:block;
    }
    .song-container > :nth-child(3) {
        @apply lg:block;
    }

    .player-btn-container > * {
        @apply relative cursor-pointer hover:text-white;
    }
    .player-btn-container > div[data-title]:hover::before {
        @apply absolute -top-2 w-max
        -translate-y-full 
        rounded-md bg-black p-2 text-white content-[attr(data-title)];
    }
    .player-btn-container > div[data-title]::before {
        content: "";
        visibility: hidden;
    }
    .player-btn-container > div[data-title]:hover::before {
        visibility: visible;
        transition-delay: 500ms;
    }

    .label-wrapper {
        @apply before:border-primary after:border-primary
        flex items-center before:w-full
        before:border-b after:w-full after:border-b;
    }
}

@layer utilities {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .text-secondary {
        color: var(--text-secondary);
    }
    .text-active {
        @apply text-green-600 hover:text-green-500;
    }
    .bg-active {
        @apply bg-green-600;
    }
    .border-primary {
        @apply border-gray-700;
    }
    .background {
        @apply bg-neutral-900;
    }

    .center {
        @apply background relative overflow-y-scroll break-all text-white md:block;
    }
    .MuiPaper-root {
        font-size: 500px;
        background: "black";
    }
    .MuiMenu-paper {
        font-size: 500px;
        background: "black";
    }
}

.transisition-container {
    position: relative;
}
